<section class="pokedex">
	<div class="pokedex__photo">
		<div class="photo-container">
			<div class="photo-main">
				<div class="controls">
				</div>
				<img [src]="pokeList[0].img" >
			</div>
			<div class="photo-album">
				<ul>
					<li *ngFor="let pok of pokeList"><img [src]="pok.img" ></li>
					</ul>
			</div>
		</div>
	</div>
	<div class="pokeinfo">
		<div class="title">
			<h1>Pokedex</h1>
			<span>No: {{pokeList[0].no}}</span>
		</div>
		<div class="price">
		 <span>{{pokeList[0].name}}</span>
		</div>
		<div class="description">
			<h3>Information</h3>
			<ul>
				<li>Level: {{pokeList[0].level}}</li>
				<li>hability: {{pokeList[0].hability}}</li>
				<li>height: {{pokeList[0].height}}</li>
				<li>weight: {{pokeList[0].weight}}</li>
			</ul>
		</div><br><br><br><br>
	</div>
</section>